:root {
    /* Primary */
    --cyan-050: #E0FCFF;
    --cyan-100: #BEF8FD;
    --cyan-200: #87EAF2;
    --cyan-300: #54D1DB;
    --cyan-400: #38BEC9;
    --cyan-500: #2CB1BC;
    --cyan-600: #14919B;
    --cyan-700: #0E7C86;
    --cyan-800: #0A6C74;
    --cyan-900: #044E54;
  
    /* Neutrals */
    --grey-050: #F0F4F8;
    --grey-100: #D9E2EC;
    --grey-200: #BCCCDC;
    --grey-300: #9FB3C8;
    --grey-400: #829AB1;
    --grey-500: #627D98;
    --grey-600: #486581;
    --grey-700: #334E68;
    --grey-800: #243B53;
    --grey-900: #102A43;
  
    /* Supporting */
    --indigo-050: #E0E8F9;
    --indigo-100: #BED0F7;
    --indigo-200: #98AEEB;
    --indigo-300: #7B93DB;
    --indigo-400: #647ACB;
    --indigo-500: #4C63B6;
    --indigo-600: #4055A8;
    --indigo-700: #35469C;
    --indigo-800: #2D3A8C;
    --indigo-900: #19216C;
  
    --pink-050: #FFE0F0;
    --pink-100: #FAB8D9;
    --pink-200: #F191C1;
    --pink-300: #E668A7;
    --pink-400: #DA4A91;
    --pink-500: #C42D78;
    --pink-600: #AD2167;
    --pink-700: #9B1B5A;
    --pink-800: #781244;
    --pink-900: #5C0B33;
  
    --red-050: #FFEEEE;
    --red-100: #FACDCD;
    --red-200: #F29B9B;
    --red-300: #E66A6A;
    --red-400: #D64545;
    --red-500: #BA2525;
    --red-600: #A61B1B;
    --red-700: #911111;
    --red-800: #780A0A;
    --red-900: #610404;
  
    --yellow-050: #FFFAEB;
    --yellow-100: #FCEFC7;
    --yellow-200: #F8E3A3;
    --yellow-300: #F9DA8B;
    --yellow-400: #F7D070;
    --yellow-500: #E9B949;
    --yellow-600: #C99A2E;
    --yellow-700: #A27C1A;
    --yellow-800: #7C5E10;
    --yellow-900: #513C06;

    --body-font: 'Roboto', sans-serif;
    --heading-font: 'Montserrat', sans-serif;
}

body {
    background-color: var(--grey-900);
    color: var(--cyan-500);
  }
  
/* section {
    border: 1px solid black;
} */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

/* nav div {
    border: 1px solid red;
} */

nav div img {
    max-height: 70px;
}

nav div ul li a {
    text-decoration: none;
    color: var(--cyan-300);
    font-size: 1.3rem;
}

nav div ul li:hover {
    transform: translate(-5px, -5px); /* moves the button up and to the left */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* adds a shadow to create the "lifted" effect */
}

#right-side-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3%;
}

.btn {
    min-width: 120px;
    min-height: 50px;
    border-radius: 10px;
    border: 2px solid white; /* set initial border color and thickness */
    transition: all 0.3s ease; /* "all" will apply the transition to all properties */
    position: relative; /* make the button's position relative to allow moving it */
    background-color: transparent;
    color: white;
    box-sizing: border-box; /* include border and padding in the element's total width and height */
    font-size: 1.3rem;
}

.btn:hover {
    border-bottom: 10px solid white; /* increase bottom border thickness on hover */
    border-right: 10px solid white; /* increase right border thickness on hover */
    transform: translate(-5px, -5px); /* moves the button up and to the left */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* adds a shadow to create the "lifted" effect */
}




#btn-div {
    display: flex;
    align-items: center;
    
}

ul {
    margin-right: 10px;
}

#hello-section {
    position: relative;
    margin-left: 20%;
    margin-top: 10%;
}

h1 {
    font-size: 4rem;
    line-height: 10px;
    color: var(--cyan-200);
}

h2 {
    font-size: 4rem;
    line-height: 30px;
    color: var(--cyan-400);
}
p {
    font-size: 1.3rem;
    color: var(--cyan-400);
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
}

#hand-wave {
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    animation-timing-function: linear;
}

#hand-wave:hover {
    animation-name: wave-animation;
    animation-duration: 0.8s;
}

a {
    color: var(--cyan-500);
}

#hello-section p:last-of-type {
    color: var(--cyan-500);
    font-size: 1.3rem;
}

#about-section {
    /* border: 1px solid white; */
    position: relative;
    margin-top: 30%;
    margin-left: 25%;
    max-width: 50%;
}

#about-div {
    max-width: 42%;
    line-height: 1.5rem;
    
    
}

#about-div p {
    color: var(--cyan-300);
    font-size: 1.1rem;
    
}

#about-img-div {
    max-width: 50%;
    max-height: 50%;
}

#about-img-div img {
    border-radius: 10px;
    /* transition: all 0.3s ease; "all" will apply the transition to all properties */
    position: relative; /* make the button's position relative to allow moving it */
}

#about-img-div img:hover {
    transform: translate(-10px, -10px); /* moves the button up and to the left */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* adds a shadow to create the "lifted" effect */
}

#headshot-img {
    max-width: 100%;
    opacity: 0; /* Start fully transparent */
    transition: opacity 2s ease-out; /* Animate the opacity property */ 
}

#about-container {
    display: flex;
    justify-content: space-between;
    
}

h3 {
    font-size: 3rem;
}

#work-section {
    position: relative;
    margin-top: 15%;
    margin-left: 20%;
    max-width: 60%;
    /* border: 1px solid white; */
}

.project-div {
    display: flex; /* Add this to use Flexbox */
    justify-content: space-between; /* Add this to put space between your items */
    position: relative; /* Add this to establish a new positioning context for children */
    /* border: 1px solid white; */
    align-items: center; /* Add this to vertically center the video and text */
    margin: 10% 0px 10% 0px;
    opacity: 0; /* Start fully transparent */
    transition: opacity 1s ease-out; /* Animate the opacity property */
}


.project-div.visible {
    transform: translateX(0); /* Move to original position */
    opacity: 1; /* Become fully opaque */
}

.video-div {
    position: relative; /* Add this to allow z-index and transform to work */
    max-width: 60%;
    z-index: 1; /* This will ensure the video is below the text */
    flex: 1; /* Add this to make the video take up half the space */
}

#middle-video-div {
    position: relative;
    margin-left: 40%;
    /* border-right: 1px solid white;
    border-bottom: 1px solid white; */
}

.video {
    width: 100%; /* Change this to make the video take up the full width of the .video-div */
    opacity: 0.5; /* Add this to make the video greyed out */
    transition: all 0.5s ease; /* Add this to animate changes */
    border-radius: 10px;
}

.video:hover {
    opacity: 1; /* On hover, make the video fully opaque */
    transform: translate(-10px, -10px); /* On hover, move the video up and to the left */
    /* border-bottom: 5px solid white;
    border-right: 5px solid white; */
}

.text-div-right, .text-div-left {
    position: absolute; /* Add this to allow the text to overlap the video */
    top: 0; /* Position the text at the top of the .project-div */
    z-index: 2; /* Ensure the text is above the video */
    width: 50%; /* Add this to make the text take up half the space */
    text-align: center; /* Add this to center the text */
}

.text-div-right {
    right: 0; /* Position the text at the right of the .project-div */
}

.text-div-left {
    left: 0; /* Position the text at the left of the .project-div */
}

h1, h2, h3, h4, h5, h6 {
    opacity: 0; /* Start fully transparent */
    transition: opacity 2s ease-out; /* Animate the opacity property */
    font-family: var(--heading-font);
}

p {
    opacity: 0; /* Start fully transparent */
    transition: opacity 1s ease-out; /* Animate the opacity property */ 
    font-family: var(--body-font);
}

.inline-link {
    color: var(--yellow-300);
    text-decoration: none;
}
